<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jnvexerciseloggerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jnvexerciseloggerapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>jnvExerciseLoggerAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$jnvExerciseLoggerAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jnvdatabase.database.windows.net,1433;Initial Catalog=jnvExerciseLoggerAPI_db;User ID=jvandick@jnvdatabase;Password=Liza1Will2" Name="Data Source=tcp:jnvdatabase.database.windows.net,1433;Initial Catalog=jnvExerciseLoggerAPI_db;User Id=jvandick@jnvdatabase;Password=Liza1Will2" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LoggingAPI.Models.ExerciseDbContext, LoggingAPI" MigrationConfiguration="LoggingAPI.Migrations.Configuration, LoggingAPI" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jnvdatabase.database.windows.net,1433;Initial Catalog=jnvExerciseLoggerAPI_db;User Id=jvandick@jnvdatabase;Password=Liza1Will2</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>